body {
    background-image: linear-gradient(to bottom, rgba(219, 4, 247, 0.856), rgb(71, 9, 129), rgb(71, 9, 129), rgba(97, 3, 109, 0.856), rgba(219, 4, 247, 0.856));
    background-repeat: inherit;
    background-size: cover;   
    width: 100%;
    height: 98vh;
    margin: 0px;
}

.romano {
    position: fixed;
    opacity: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

header {
    position: fixed;
    top: 0rem;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100vw;
    height: 98vh;
    z-index: 2;
}

footer {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}

.slider {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 20px;
    width: 640px;
    height: 400px;
    box-shadow: 0px 0px 10px;
    overflow: hidden;
}

.btn_menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 50%;
    transform: translate(-50%);
    bottom: 1rem;
    z-index: 5;
    gap: 1rem;
}

.btn_celular {
    display: none;
}

label {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.664), rgba(10, 10, 10, 0.664));
    border: 0.1rem solid white;
    padding: 0.3rem;
    border-radius: 5px;
    width: 3rem;
    height: 0.5rem;
    cursor: pointer;
}

.imagem {
    background-color: rgba(2, 2, 2, 0.479);
    height: 400px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.imagem img {
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px;
}

.entradas input {
     display: none;
}

nav{
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    color: white;
    background-color: black;
}

.ativo1~.imagem {
    margin-left: 0;
    transition: 1s;
}

.ativo1~.btn_menu #btn1 {
    background-image: linear-gradient(to bottom, rgba(116, 114, 114, 0.664), rgba(0, 0, 0, 0.993));
    border: 2px solid #9619f0;
    height: 9px;
}

.ativo2~.imagem {
    margin-left: -640px;
    transition: 1s;
}

.ativo2~.btn_menu #btn2 {
    background-image: linear-gradient(to bottom, rgba(116, 114, 114, 0.664), rgba(0, 0, 0, 0.993));
    border: 2px solid #9619f0;
    height: 9px;
}

.ativo3~.imagem {
    margin-left: -1280px;
    transition: 1s;
}

.ativo3~.btn_menu #btn3 {
    background-image: linear-gradient(to bottom, rgba(116, 114, 114, 0.664), rgba(0, 0, 0, 0.993));
    border: 2px solid #9619f0;
    height: 9px;
}

.ativo4~.imagem {
    margin-left: -1920px;
    transition: 1s;
}

.ativo4~.btn_menu #btn4 {
    background-image: linear-gradient(to bottom, rgba(116, 114, 114, 0.664), rgba(0, 0, 0, 0.993));
    border: 2px solid #9619f0;
    height: 9px;
}

.somos {
    background-color: aliceblue;
    border: 2px solid rgba(0, 0, 0, 0.705);
    border-radius: 80px;
    padding: 1rem;
    position: absolute;
    width: 390px;
    height: 65px;
    left: 50%;
    bottom: 13%;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    margin: 0px;
}

.somos img {
    width: 5rem;
    margin-right: 1rem;
}

.somos p {
    font-size: 14px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.somos h4, .somos h2 {
    display: none;
}


.navBot p { 
    margin: 0;
}

.ativo {
    border: 0.1rem solid blueviolet;
}


@media (max-width:700px) {
    .slider {
        width: 480px;
        height: 300px;
        overflow: scroll;
    }
    
    .imagem {
        height: 300px;
    }

    .imagem img {
        height: 300px;
    }

    .btn_menu {
        display: none;
    }

    .btn_celular {
        width: 65%;
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        z-index: 2;
    }

    .btn_celular label {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.664), rgba(10, 10, 10, 0.664));
        border: 0.1rem solid white;
        padding: 0.2rem;
        border-radius: 5px;
        width: 3rem;
        height: 0.5rem;
        cursor: pointer;
    }

    .btn {
        width: 1.0rem;
        height: 0.10rem;
    }

    .ativo1~.imagem {
        margin-left: 0;
        transition: 1s;
    }
    
    .ativo2~.imagem {
        margin-left: -320px;
        transition: 1s;
    }
    
    .ativo3~.imagem {
        margin-left: -640px;
        transition: 1s;
    }
    
    .ativo4~.imagem {
        margin-left: -960px;
        transition: 1s;
    }

    .somos {
        height: 48px;
        width: 260px;
        bottom: 10%;
    }

    .somos img {
        width: 3.8rem;
        margin-right: 1rem;
    }

    .somos p {
        font-size: 14px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .somos h4, .somos h2 {
        display: none;
    }

    footer {
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:500px) {
    .slider {
        width: 320px;
        height: 200px;
        overflow: scroll;
    }
    
    .imagem, .imagem img {
        height: 200px;
    }  

    #copy {
        font-size: small;
    }
}