body {
    height: 98vh;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#copy {
    margin-top: 20px;
    background-color: black;
    color: white;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    margin: 0;
}

.cardapioOff {
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4e9b62;
    border-radius: 15px;
}

.cardapioOff h2 {
    margin-top: 6%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: rgba(202, 58, 221, 0.616) underline;
}

.cardapioOff #btnAcompanhamentos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: auto;
    width: 165px;
    height: 40px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    background-image: linear-gradient(#09ad35, rgba(2, 2, 2, 0.582));
    box-shadow: 0px 0px 5px;
    
}

.cardapioOn h2, .cardapioOn #btnAcompanhamentos {
    display: none;
}

.tamanho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 250px;
}

.tamanho input {
    display: none;
}

.tamanho label {
    background-color: rgba(243, 234, 234, 0.089);
    width: 125px;
    height: 210px;
    border-radius: 5px;
}

.tamanhoOff {
    border: 1px solid white;
    opacity: 75%;
}

.tamanhoAtivo {
    opacity: 100%;
    border: 2px solid yellowgreen;
}

#_3ml h3, #_4ml h3 {
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    height: 40px;
    width: 125px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    margin-top: 170px;
    font-family: 'sans-serif', 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

#_3ml{
    background-image: url("../imagens/acai.png");
    background-size: 170px;
    background-position: center;
    background-repeat: no-repeat;
    width: 125px;
    height: 210px;
    border-radius: 5px;
    filter: drop-shadow(6px 7px 8px);
}

#_4ml{
    background-image: url("../imagens/sete.png");
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    width: 125px;
    height: 210px;
    border-radius: 5px;
    filter: drop-shadow(6px 7px 8px);
}

.cardapioOff .acompanhamentos, .cardapioOff .coberturas, .cardapioOff .adicionais, .cardapioOff h3, .cardapioOff~label {
    display: none;    
}

.cardapioOn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cardapioOn h3 {
    margin: 10px 0px 0px 20px;
    color: white;
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

.cardapioOn input {
    display: none;
}

.cardapioOn .tamanho {
    display: none;
}

.acompanhamentos, .coberturas, .adicionais {
    display: flex;
    overflow-x: scroll;
    border-radius: 5px;
    gap: 1rem;
    margin: 5px 10px;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.125);

}

.coberturas {
    justify-content: center;
}

.acompanhamentos label, .coberturas label, .adicionais label {
    margin: auto;
    width: 75px;
    height: 90px;
    border-radius: 10px;
    background-color: yellowgreen;
    background-image: url("../imagens/esc.png");
    background-repeat: no-repeat;
    background-position: center;
}

.acompanhamentos h4, .coberturas h4, .adicionais h4 {
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    height: 30px;
    width: 75px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    margin-top: 65px;
    font-family: 'sans-serif', 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

.cardapioOn img {
    width: 75px;
    height: 100px;
    border-radius: 10px;
}

button {
    display: none;
}

.concluir {   
    padding: 5px;
    background-color: #4e9b62;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
    border-radius: 10px;
    border: 1px solid white;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.concluir:hover {
    background-color: #7a918D;
}

.ativo {
    border: 3px solid rgb(0, 0, 0);
    opacity: 65%;
}

@media (max-width:500px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .cardapioOn {
        background-color: rgba(128, 7, 128, 0.377);
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
    }    
}